<div class="news-item">
	    <h1><!--[$preformat.catandtitle]--></h1>
		<p class="news-date"><!--[$info.briefdate]-->&nbsp;&nbsp;&nbsp;<!--[articleadminlinks sid=$info.sid]--></p>
	    <div class="news-content">
         <!--[$info.hometext]-->
        </div>
        <p class="news-info">
	     <!--[pnml name="_POSTEDBY"]-->&nbsp;&nbsp;<!--[$info.informant]-->
		</p>
        <p class="news-footer">
          <!--[$preformat.comment]-->&nbsp;&nbsp;&nbsp;&nbsp;<!--[$preformat.readmore]-->
        </p>
</div>