<style type="text/css">
td.dayheader { background-color: [-$BGCOLOR2-]; font-size: 14pt; font-weight: bold; }
table.dayheader { background-color: [-$BGCOLOR2-]; border: 1px solid #000000; }
.dayheader a:link { font-size: 14pt; font-weight: bold; text-decoration: none; padding-left: 10px; padding-right: 10px; }
.dayheader a:active { font-size: 14pt; font-weight: bold; text-decoration: none; padding-left: 10px; padding-right: 10px; }
.dayheader a:hover { font-size: 14pt; font-weight: bold; text-decoration: none; padding-left: 10px; padding-right: 10px; }
.dayheader a:visited { font-size: 14pt; font-weight: bold; text-decoration: none; padding-left: 10px; padding-right: 10px; }
table.eventslist { background-color: [-$BGCOLOR1-]; padding: 10px; }
td.eventslist { background-color: [-$BGCOLOR1-]; padding: 10px; }
table.calcontainer { border: 1px solid #000000; }
</style>
