body {
	margin: 0px;
	padding: 0px;
	background-color: #FEFEFE;
	font-family: Verdana, Arial, Helvetica;
	color: #000000;
	font-size: 12px;
	font-weight: normal;
}

div, p, td, th, input, textarea, form, select, font {
	font-family: Verdana, Arial, Helvetica;
	color:  #000000;
	font-size: 12px;
}
a {
	font-size: 12px;
	text-decoration: none;
}
a:link {
	color: #FF0033;
}

a:visited {
	color: #FF0033;
}

a:hover {
	color: #0033FF;
}

a:active {
	color: #000000;
}

a img {
	border : 0px;
}

hr	{
	color:  #000000;
}

.content 	{
	background: none;
	font-size: 12px;
	font-family: geneva,arial,Verdana, Helvetica
}

.storycat	{
	background: none;
	font-size: 103%;
	font-weight: bold;
	font-family: Verdana, Helvetica;
	text-decoration: underline
}

.boxtitle 	{
	background: none;
	color: #CBCDCD;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Helvetica;
	text-decoration: none
}

.boxcontent 	{
	font-size: 12px;
	margin-top: .1em;
	padding-left: .5em;
	padding-right: .5em;
	border-left: solid;
	border-right: solid;
	border-left-width: thin;
	border-right-width: thin;
	border-bottom: solid;
	border-bottom-width: thin;
	border-top: solid;
	border-top-width: thin;
	border-color:  #CBCDCD;
}

.box		{
	margin: 0em 3em 0em 3em;
	font-size: 97%;
	padding-left: .5em;
	padding-right: .5em;
	border-left: solid;
	border-right: solid;
	border-left-width: thin;
	border-right-width: thin;
	border-bottom: solid;
	border-bottom-width: thin;
	border-top: solid;
	border-top-width: thin;
	border-color:  #CBCDCD;
}

.pn-navtabs {
	color: #CBCDCD;
	background-color: #000000;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

.pn-navtabs a {
	color: #A3A9AA;
	font-size: 12px;
	font-weight: bold;
	text-decoration : none;
}

.pn-navtabs a:hover {
	color: #CBCDCD;
	border-color:  #A3A9AA;
}

.pn-pagetitle, h1 {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.pn-title, h2 {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.pn-title a {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.pn-title a:hover {
	color: #889091;
}

.pn-sub {
	color: #000000;
	font-size: px;
	font-weight: normal;
}

.pn-sub a {
	color: #000000;
	font-size: px;
	font-weight: bold;
	text-decoration: none;
}

.pn-sub A:hover {
	color: #889091;
}

.pn-logo {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
	background-color : transparent;
	text-decoration: none;
}

a.pn-logo {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
	background-color : transparent;
	text-decoration: none;
}

a.pn-logo:hover {
	color: #889091;
}

.xanNav {
	color: #000000;
	background-color: #979D9E
}

.xanNav a:link {
	color: #000000
}

.xanNav A:visited {
	color: #000000
}

.xanNavText {
	padding-left: 4px;
	padding-bottom: 1.5px;
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;
	font-family: verdana, arial, sans-serif
}

tr td.xanNav a:link {
	text-decoration: none
}

tr td.xanNav a:visited {
	text-decoration: none
}

td.swath {
	font: 10px sans-serif
}

tr.xanNavRow TD {
	border-right: #000000 1px solid;
	border-top: #B0B5B6 1px solid;
	vertical-align: middle;
	border-left: medium none;
	border-bottom: #000000 1px solid
}

tr.xanNavRow TD.swath {
	border-right: medium none;
	background-color: #B0B5B6
}

.pn-sub_white {
	color: #E1E5E5;
	font-size: px;
	font-weight: normal;
}

